.form {
    text-align: right;
    right: 170px;
    position: relative;
}

.text {
    font-size: 20px;
    font-weight: bold;
    padding:20px;
    position: relative;
    top:120px;
}

.textbox {
    border-radius: 5%;
    width:200px;
    position: relative;
    top:120px;
}

.submit {
    width: 80px;
    height: 50px;
    margin: 25px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 3px outset rgb(136, 136, 136);
    background-color: aquamarine;
    top:120px;
    right:20px;
    position: relative;

}

.submit:hover {
    background-color: rgb(86, 171, 143);
}

.map {
    position: relative;
    top:120px;
    left:170px;
}