.bathroom-element:hover {
    background-image: linear-gradient(to right, rgb(200, 180, 146) ,rgb(251, 220, 166));
}

.bathroom-element {
    background-image: linear-gradient(to right, rgb(180, 253, 255) , rgb(213, 252, 255));

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    margin: 1%;
    min-height: 75px;
    display:flex;
    width:855px;
    border:2px outset rgb(182, 57, 22);
    border-radius: 10px;
    overflow-wrap:break-word;
    overflow: hidden;

}

.bathroom-element-picture {
    text-align: left;
    width: 100px;
    float:left;
    overflow: hidden;

}

.bathroom-element-text {
    text-align:left;
    left:150px;
    width:600px;
    padding:0;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.stars{
    text-align:left;
    left:750px;
    width:850px;
    position: absolute;
    overflow: hidden;

}

.scrolling {
    overflow: hidden;
    position: relative;
}
