.bathroom-element:hover {
    background-color: aqua;
}

.bathroom-element {
    background-color:rgb(211, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    margin: 1%;
    /* margin-right: 41%; */
    min-height: 75px;
    display:flex;
    width:855px;
    /* height:fit-content; */
    border:2px outset rgb(182, 57, 22);
    border-radius: 10px;
    overflow-wrap:break-word;
}

.bathroom-element-picture {
    text-align: left;
    width: 100px;
    float:left;
}

.bathroom-element-text {
    text-align:left;
    left:150px;
    width:600px;
    /* float:right; */
    /* position: absolute; */
    padding:0;
    overflow: hidden;
}

.stars{
    text-align:left;
    left:750px;
    width:850px;
    position: absolute;
}

